* {
    box-sizing: border-box;
}

body {
    background: #26282a;
}

.slider {

}

.slides {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    height: 50vw;
}

.slides .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
    background: #7facf9;
}