* {
    box-sizing: border-box;
}

body {
    background: #26282a;
}
.slider-wrapper {
    overflow: hidden;
    width: 70%;
    margin:0 auto;
}
.slider {
    width: 100%;
    height: 45vw;
    margin: 5% auto 0;
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
    transition: transform 0.5s ease;
}

.slider div {
    min-width: 100%;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
}

.captions-wrapper {
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.captions {
    color: #fff;
    display: flex;
    width: calc(100% * 5);
}

.caption {
    display: inline-block;
    min-width: 100%;
    transition: transform 0.5s ease;
}

#s1:checked ~ .slider-wrapper .slider,
#s1:checked ~ .slider-wrapper .captions .caption {
    transform: translateX(0);
}

#s2:checked ~ .slider-wrapper .slider,
#s2:checked ~ .slider-wrapper .captions .caption {
    transform: translateX(-100%);
}

#s3:checked ~ .slider-wrapper .slider,
#s3:checked ~ .slider-wrapper .captions .caption {
    transform: translateX(-200%);
}

#s4:checked ~ .slider-wrapper .slider,
#s4:checked ~ .slider-wrapper .captions .caption {
    transform: translateX(-300%);
}

#s5:checked ~ .slider-wrapper .slider,
#s5:checked ~ .slider-wrapper .captions .caption {
    transform: translateX(-400%);
}

input {
    display: none;
}

.slider-controls {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: -1.3em auto;
}

.slider-controls label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.slider-controls label span {
    display: block;
    width: 0.9em;
    height: 0.9em;
    background: #7facf9;
    border-radius: 50%;
}

#s1:checked ~ .slider-controls .s1 span,
#s2:checked ~ .slider-controls .s2 span,
#s3:checked ~ .slider-controls .s3 span,
#s4:checked ~ .slider-controls .s4 span,
#s5:checked ~ .slider-controls .s5 span {
    background: transparent;
    border: 1px solid #7facf9;
}

.slider-controls label:hover span {
    background: #fff;
}

#s1:checked ~ .slider-controls label[for="s1"]:hover span,
#s2:checked ~ .slider-controls label[for="s2"]:hover span,
#s3:checked ~ .slider-controls label[for="s3"]:hover span,
#s4:checked ~ .slider-controls label[for="s4"]:hover span,
#s5:checked ~ .slider-controls label[for="s5"]:hover span {
    border: 1px solid #fff;
}

@media (max-width: 780px) {
    .slider-controls {
        width: max-content;
        margin: -3.5em auto;
    }
    .captions-wrapper {
        margin-top: 2em;
    }
}